<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="static/css.css"/>
    <title>最后的总结</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
            text-align: center
        }
    </style>
</head>

<body>
<p>
<h1>总结</h1>
<h2>空气污染是世界上最大的健康与环境问题之一</h2>
<h5>本项目的价值在于探究空气污染与gdp收入、工业发展排放之间的关系，最后得出空气污染与gdp收入负相关、与工业发展负相关。gdp收入越低的国家，越需要发展工业，大举地发展工业使得污染排放剧增.</h5>
<h5>相反，发达国家，工业污染排放量在逐年递减，原因在于早已完成了工业化的发展，转而将发展转向科技的高新产业，将重污染重排放的工业投资在海外市场。</h5>
<h5>空气污染与人类的行为密切相关，国家的发展固然重要，但是过度的开发将会得不偿失。开放造成空气污染，环境污染，严重地危害到了人类自身的生活环境与身体健康，发展必须要循序渐进，切勿操之过急。</h5>
<h5>英国工业革命时期便是例子。大力的工业发展和没有缺少治理的工业污染，造成了伦敦烟雾事件，城市瘫痪，市民疾病缠身。最终意识到环境保护的重要性，开始治理工业污染.</h5>
<h5>该项目的目的是想让人们意识到经济发展固然重要，但是要循序渐进，过度的开发会对环境造成毁灭性的破坏，最后承受的是人类自己，呼吁大家对环境保护引起重视。</h5>
<h5>空气污染还包含许多因素，不只有工业污染排放，生活中的各种电器、汽车尾气排放等，都会对环境造成一定污染。大家可以从身边做起，低碳生活，健康出行，共同保护我们的地球家园。</h5>
</p>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- 指示符 -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- 轮播图片 -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="http://n.sinaimg.cn/finance/transform/20170113/QjC5-fxzqxha9483699.jpg">
        </div>
        <div class="carousel-item">
            <img src="http://src.house.sina.com.cn/imp/imp/deal/cb/6b/7/ed5a152e94db98e2d1e407d3f9d_p24_mk24.png">
        </div>
        <div class="carousel-item">
            <img src="http://pic.baike.soso.com/p/20130706/20130706093332-843207118.jpg">
        </div>
    </div>

    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
</body>
</html>